*{
    overflow-x: hidden;
}

@media (min-width: 1250px) {
    
.header{
    height: 250px;
    align-items: center;
    margin-left: 0px;
    position: fixed;
    z-index: 990;
    align-content: center;
    width: 1320px;
    top: 0;
    display: flex;
    overflow: hidden;
    
   
}

.header::before{
    opacity: 0.65;
    background-image: url("../img/fundo.png");   
    background-size: cover;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.footer {
    background-image: linear-gradient(#faff15a6, #ff9c04c4);
    height: 120px;    
    justify-content: center;
    margin: 0;
    padding-top: 10px;
    vertical-align: middle;
}

.footer>span{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    letter-spacing: 2px;
    display: block;
    height: 50px;
}

}

.accordion-button{
    color: brown;
    font-variant: small-caps;
    font-size: 25px;
    border: none;
    border-color: black;
}
.accordion-button:not(.collapsed) {
    background-color: #dadadb14;
    color: black;
    border-color: black;
}

.accordion-button:focus, .accordion-button {
    background-color: #dadadb14;
    color: black;
    font-weight: bold;
    border-color: black;
}

.container{    
    padding: 0;
    height: 100%;
  overflow: hidden;    
}

#logo{
    
    background-image: url("../img/logo.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom;
    z-index: 1001;
    width: 250px;
    height: 120px;    
}

#logo:hover{
    cursor: pointer;
    background-size: 40%;
    box-shadow: violet;
}
#logo+div{
    font-size: 45px;
    position: relative;
    margin-left: 150px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-shadow: 2px 2px #3700ff;

}

.accordion{
    margin-top: 260px;
    margin-bottom: 50px;
   overflow: hidden;
}
.accordion-item{
    border: none;
    padding: 5px 0 5px 0;
}
 

.table-striped>tbody>tr>td{
    border-bottom: 1px solid rgb(179, 160, 160);
}


.dayofmonth{
    font-size: 42px;
    float: left;
    text-align: right;
    line-height: 40px;
    margin-right: 10px;
    margin-top: 5px;
    overflow: hidden;
}
